[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
django = "*"
pandas = "*"
numpy = "*"
pyarrow = "*"
pyproj = "*"
geopandas = "*"
shapely = "*"
utils = "*"
pillow = "*"
static = "*"

[dev-packages]

[requires]
python_version = "3.8"
